Changes in 4.7.4:<br/>
<ul>
    <li>Fix crash when adding new repos.</li>
</ul>

Changes in 4.7.3:<br/>
<ul>
    <li>Able to download paid packages (must be bought through Cydia first)</li>
</ul>


</ul>Changes in 4.7.2:<br/>
<ul>
    <li>Fix issues with a lot of repos (most notably xar0ld and biteyourapple)</li>
    <li>Better looking download progress bar</li>
</ul>

Changes in 4.7.1:<br/>
<ul>
    <li>Can add repos</li>
    <li>Better default repo listing</li>
</ul>

Changes in 4.5:<br/>
<ul>
    <li>Preliminary iOS 6 support</li>
    <li>Chat</li>
</ul>
