<html><head><title>Changelog</title>
	<link rel="stylesheet" type="text/css" href="menes.css"/>
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0"/>
</head><body>
<H1>KEEP IN MIND THIS IS BETA SOFTWARE!</H1>
<panel>
    <label>1.5.5-1 beta<br/><span style="font-size:12px">19 October 2015</span></label>
    <fieldset>
        <div><label>iOS 9 compatibility attempt</label></div>
    </fieldset>
    <label>1.5.4-2 beta<br/><span style="font-size:12px">19 June 2015</span></label>
    <fieldset>
        <div><label>Attempt to fix all intermittent mediaserverd crashes once and for all</label></div>
    </fieldset>
    <label>1.5.4<br/><span style="font-size:12px">31 December 2014</span></label>
    <fieldset>
        <div><label>Fix SpringBoard crashes / hangs</label></div>
    </fieldset>
    <label>1.5.3<br/><span style="font-size:12px">30 December 2014</span></label>
    <fieldset>
        <div><label>Fix video and audio recording hangs (snapchat, camera, voice memos, etc)</label></div>
    </fieldset>
    <label>1.5.2<br/><span style="font-size:12px">29 December 2014</span></label>
    <fieldset>
        <div><label>Made auto-adjust preamp less sensitive (AKA fix low volume issues)</label></div>
        <div><label>mediaserverd crash fixes</label></div>
        <div><label>get rid of popping sounds</label></div>
        <div><label>traducir a español</label></div>
    </fieldset>

    <label>1.5<br/><span style="font-size:12px">16 December 2014</span></label>
	<fieldset>
		<div><label>Fix preamp. Audio is now at normal levels.</label></div>
		<div><label>Completely redesigned presets menu. Looks halfway decent now.</label></div>
		<div><label>Translations in Simplified Chinese, Traditional Chinese and French</label></div>
	</fieldset>
</panel>

</body></html>
